* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 150%;
  color: #424242;
  background-color: #e9e9e9;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  color: #f90;
  line-height: 1em;
}
h1 {
  font-size: 2em;
  line-height: 1.5em;
  border-bottom: 1px solid;
}
h1 a {
  color: inherit;
}
h1 a:hover {
  color: #3299bb;
}
h2 {
  font-size: 1.8em;
  line-height: 1.3em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.1em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}
blockquote,
q {
  font-family: 'Merriweather', serif;
  position: relative;
  z-index: 2;
  padding: 2em;
}
blockquote::before,
q::before {
  content: '\201C';
  font-size: 5em;
  position: absolute;
  top: 0.5em;
  left: -0.5em;
  color: rgba(255,153,0,0.5);
  z-index: 1;
}
q::before,
q::after {
  font-size: 1em;
  position: relative;
  top: 0;
  left: 0;
  color: #f90;
  z-index: 1;
}
q::after {
  content: '\201D';
}
dl dt {
  font-family: 'Merriweather', serif;
}
dl dd {
  margin-bottom: 1em;
}
pre {
  overflow: scroll;
  background: #e9e9e9;
  padding: 0.5em;
}
header h1,
header time {
  text-align: center;
  display: block;
}
header h1 {
  border-bottom: 1px solid;
}
a {
  text-decoration: none;
  color: #3299bb;
}
a:hover {
  text-decoration: underline;
}
.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 20px;
  padding: 2em;
}
@media screen and (max-width: 800px) {
  .header {
    position: relative;
    width: 100%;
    left: 0;
    padding: 0em;
  }
}
.about ul {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (max-width: 800px) {
  .about ul {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .about ul {
    padding: 0em;
  }
}
.main {
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
}
@media screen and (max-width: 800px) {
  .main {
    max-width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    max-width: 500px;
  }
}
.main article::after {
  content: "";
  display: block;
  width: 70%;
  background: #f90;
  height: 1px;
  margin: 0 auto;
}
.paginator {
  margin-top: 1em;
  display: block;
}
.paginator-number {
  text-align: center;
  display: block;
}
.paginator-link_previous {
  float: left;
}
.paginator-link_next {
  float: right;
}
label {
  display: block;
  line-height: 40px;
}
input,
textarea {
  line-height: 40px;
  width: 100%;
  border: 1px solid #e9e9e9;
  padding: 0 2%;
}
