<header class="header">
    <h1><a href="/">Lucas Machado</a></h1>

    <nav class="about">
        <ul class="links">
            <li>Code @ <a href="http://github.com/luksm">GitHub</a></li>
            <li>Comments @ <a href="http://twitter.com/luksm">Twitter</a></li>
            <li>Photos @ <a href="http://instagram.com/lucasms">Instagram</a></li>
            <li>Projects @ <a href="https://www.linkedin.com/in/luksm/">LinkedIn</a></li>
            <li>Tunes @ <a href="http://www.last.fm/user/luksm">last.fm</a></li>
        </ul>
        <ul class="links">
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
    </nav>
</header>
