<script type="application/ld+json">
{
    "@context": "http://www.schema.org/",
    "@type": "person",
    "@id":"http://lucasms.net",
    "name": "Lucas Machado",
    "jobTitle": "Tech Consultant",
    "birthDate": "1986.09.18",
    "gender": "male",
    "image": "https://pbs.twimg.com/profile_images/745022308746567680/-g7w7aeM_400x400.jpg",
    "url": "http://lucasms.net",
    "sameAs" : ["https://www.facebook.com/lucasmms",
      "http://twitter.com/luksm",
      "http://instagram.com/lucasmms",
      "http://githum.com/luksm"],
  }
  </script>
